body{
    background-color: brown;
}

main {
    background-color: aliceblue;
    width: 80%;
    margin: 50px 10% 50px 10%;
}

img {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 0 auto;
    display: block;
}
 